@font-face {
  font-family: 'HubotSans';
  src: url('/assets/HubotSans-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: 100 900; /* Range of font weights available in the variable font */
  font-stretch: 50% 200%; /* Range of font widths (optional, adjust as needed) */
}

body {
    font-family: 'HubotSans', sans-serif;
    font-weight: 400;
    padding: 20px;
}

h1, h2 {
    text-align: center;
}

#chapter-list, #verse-list {
    max-width: 600px;
    margin: 0 auto;
    list-style-type: none;
    padding: 0;
}

.chapter-item, .verse-item {
    cursor: pointer;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.chapter-item:hover, .verse-item:hover {
    background-color: #f0f0f0;
}

button {
    display: block;
    margin: 10px auto;
    padding: 8px 16px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-family: 'HubotSans', sans-serif;
}

#toast {
    visibility: hidden;
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: white;
    padding: 10px;
    border-radius: 5px;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
}

#toast.show {
    visibility: visible;
    opacity: 1;
}